################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/.vs
/PodoApp.Library/obj/Debug
/PodoApp.Library/bin/Debug
/PodoApp.Impl.ServiceLibrary/obj/Debug
/PodoApp.Impl.ServiceLibrary/bin/Debug
/PodoApp.DB.Infrastructure/obj/Debug
/PodoApp.DB.Infrastructure/bin/Debug
/PodoApp.Database/obj/Debug
/PodoApp.Database/bin/Debug
/PodoApp.Contracts.ServiceLibrary/obj/Debug
/PodoApp.Contracts.ServiceLibrary/bin/Debug
/PodoApp.WebUI/obj/Debug
/PodoApp.WebUI/bin
/PodoApp.Impl.ServiceLibrary.Test/obj/Debug
/PodoApp.Database
/PodoApp.Contracts.ServiceLibrary/obj/Release
/PodoApp.DB.Infrastructure/obj/Release
/PodoApp.DB.Infrastructure.Test/bin/Debug/es
/PodoApp.Impl.ServiceLibrary.UnitTest/bin/Debug
/PodoApp.Impl.ServiceLibrary.UnitTest/obj/Debug
/TestResults/78dedb25-bf9c-4ac0-a586-aa1706c8088d
